name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  pre_commit_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: set up go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: go mod download
      run: make dep

    - name: golangci lint
      uses: golangci/golangci-lint-action@v2
      with:
        version: v1.41
        args: --build-tags="containers_image_openpgp exclude_graphdriver_devicemapper exclude_graphdriver_btrfs" --timeout 5m

    - name: go test
      run: make test
      
    - name: go build
      run: make build
